$color-blue: #0282f9;
$color-lightgrey: #909090;
$color-grey: #353535;

.cta {
	height: 100%;
	max-width: 70vw;
	margin-inline: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	button {
		border: 2px solid $color-blue;
		padding: 0.8rem 1.2rem;
		font-size: 1.2rem;
		text-transform: uppercase;
		color: white;
		background-color: $color-grey;
	}

	.socials {
		display: flex;
		align-items: center;
	}
	.text {
		display: inline-block;
		color: $color-blue;
		font-family: "Encode Sans Condensed";
		text-transform: uppercase;
		font-size: 1.5rem;
	}

	.icon {
		display: inline-block;
		width: 2.5rem;
		height: 2.5rem;
		background-color: $color-lightgrey;
		border-radius: 50%;
		overflow: hidden;
		margin-left: 1rem;
		position: relative;
	}

	i {
		font-size: 1.5rem;
		color: $color-grey;
		background-color: $color-lightgrey;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
