$color-blue: #0282f9;

.content {
	height: 100%;
	max-width: 70vw;
	margin-inline: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	.item {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		img {
			max-width: 30%;
			height: 40%;
			margin-right: 1rem;
		}

		span {
			font-size: 0.9rem;
			text-transform: uppercase;
			white-space: nowrap;
		}
	}
}
